@font-face {
  font-family: 'Mark';
  src: url('../assets/fonts/MarkPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mark';
  src: url('../assets/fonts/MarkPro-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mark';
  src: url('../assets/fonts/MarkPro-Heavy.woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
