:root {
  --color-accent: #6d53af;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-error: #eb0606;
  --color-success: #9ec73d;
  --color-light-opacity: rgba(255, 255, 255, 0.5);

  --font-mark: 'Mark', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --border-radius: 4px;
  --border-radius-l: 8px;
}
